@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
#cabecalho {
    display: flex;
    justify-content: center; /* alinhar os itens para o centro da div */
    align-items: center; /* alinhar os itens verticalmente */
    height: 80px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}
.cabecalho {
  margin: 0 10px; /* espaço entre os botões */
  font-family: 'Source Sans Pro', sans-serif;
}
button.cabecalho {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: linear-gradient(80deg, rgba(100,2,223,1) 9%, rgba(133,26,186,1) 54%, rgba(0,212,255,1) 100%);
  color: #fff;
  cursor: pointer;
}