@import url('https://fonts.cdnfonts.com/css/source-sans-pro');
#cabecalho {
    display: none;
    justify-content: center; /* alinhar os itens para o centro da div */
    align-items: center; /* alinhar os itens verticalmente */
    height: 80px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
}
.cabecalho {
  margin: 0 10px; /* espaço entre os botões */
  font-family: 'Source Sans Pro', sans-serif;
}
button.cabecalho {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background: linear-gradient(80deg, rgba(100,2,223,1) 9%, rgba(133,26,186,1) 54%, rgba(0,212,255,1) 100%);
  color: #fff;
  cursor: pointer;
}
#expandir{
  position: fixed;
}
@media (max-width: 640px){
  #cabecalho{
    display: none;
    justify-content: end;
    position: fixed;
    margin: 0em;
    padding: 0em;
  }
  button.cabecalho{
    margin: 0px;
    padding: 0px;
    width: 6em;
    height: 6em;
  }
}