
table,td{
 
    border-style: solid;
}
table{
    color:aliceblue;
    border-width: 2px;
    size: 20px;
}
td{
    text-align: center;
    border-width: 1px;
    width: 5vw;
}
.dias{
    text-size-adjust:  20px;
}
.alojamento{
    border-style: solid;
    width: 9em;
    height: 1.5em;
}
.origemMateria{
    font-size: 0px;
    width: 0px;
}