@import url("https://fonts.cdnfonts.com/css/share-tech-mono");

body {
  font-family: "Share Tech Mono", sans-serif;
  color: #333;
  padding: 0;
  background-image: url(/logos/gearingBackground.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

/* Estilo para o cabeçalho
#cabecalho {
  height: 100px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
}*/

/* Estilo para o título do formulário */
h1,
h2 {
  font-size: 24px;
  margin-top: 50px;
  background: -webkit-linear-gradient(
    90deg,
    rgba(188, 251, 255, 1) 47%,
    rgba(24, 237, 242, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilo para os campos de entrada no formulário */
input[type="text"],
input[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

/* Estilo para o botão de envio do formulário */
input[type="submit"] {
  background: linear-gradient(
    80deg,
    rgba(100, 2, 223, 1) 9%,
    rgba(133, 26, 186, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border: none;
  cursor: pointer;
}

/* Estilo para os botões dos tópicos */
button {
  background: linear-gradient(
    80deg,
    rgba(100, 2, 223, 1) 9%,
    rgba(133, 26, 186, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border: none;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilo para a tabela */
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

/* Estilo para as células da tabela */
th,
td {
  padding: 10px;
  font-size: 25px;
  text-align: left;
  background: -webkit-linear-gradient(
    90deg,
    rgba(188, 251, 255, 1) 47%,
    rgba(24, 237, 242, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
}

/* Estilo para o botão de listar usuários */
button.listar-usuarios {
  background: linear-gradient(
    80deg,
    rgba(100, 2, 223, 1) 9%,
    rgba(133, 26, 186, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

/* Estilo para o ícone de opções */
button#expandir i {
  margin-right: 5px;
}

.topico-botao {
  color: white;
}