
@import url('https://fonts.cdnfonts.com/css/px-sans-nouveaux');
.titulo {
    color: aliceblue;
    text-align: center;
    margin-top: 1vw;
    font-size: 3vw;
}

.apresentacao {
    color: rgb(254, 252, 255);
    border-style: solid;
    border-width: 0.1vw;
    border-radius: 0.5vw;
    width: 50vw;
    height: 30vw;
    background-color:  #c573e800;
    border-color:  rgba(0, 0, 0, 0);
    position: fixed;
    font-size: 2.5vw;
    top: 12vw;
    text-align: center;
    padding: 0px;
}

.apresentacao {
    margin-left: 6vw;
    margin-right: 0vw;
}

body {
    font-family:'px sans nouveaux', sans-serif;
    /*
    background-image:linear-gradient(to right, #b3ffff, #b9f6dc, #ceeabb, #e5daa6, #f8c8a1, #ffc2a9, #ffbcb4, #ffb9c0, #ffbdc9, #ffc2d2, #ffc7db, #ffcce3);
    background-image: linear-gradient(to right, #ffb3b3, #fcc2a3, #ecd4a2, #d5e5b2, #bff3d0, #baf3d0, #b5f3d1, #b0f3d2, #bfe6ad, #d6d58f, #edc17e, #ffaa80);
    */
background: rgb(100,2,223);
background: linear-gradient(80deg, rgba(100,2,223,1) 9%, rgba(133,26,186,1) 54%, rgba(0,212,255,1) 100%);
background-image: url("/logos/wpp2.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
}

.criarRealizarLogin {
    color: black;
    background-image: linear-gradient(to right, #ffb3b3, #fcc2a3, #ecd4a2);
    position: relative;
    left: 4vw;
    width: 20vw;
    height: 4vw;
    border-style: solid;
    border-color:black;
    border-width: -5vw;
    border-radius: 30vw;
    background-color:  #ccffff;
    margin-left: 60vw;
    margin-top: 0.5vw;
    font-size: 1vw;
    top: 10vw;
    font-family:'px sans nouveaux', sans-serif;
}
.logo{
    position: absolute;
    width: 10vw;
    left: 35vw;
    top: -2vw;
}
.descricao{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2.5vw;
    font-size: 1vw;
    text-align: justify;
    padding: 0xp;
}

@media (max-width: 640px) {
    .titulo {
        text-align: center;
        margin-top: 0vw;
        font-size: 3vw;
        position: fixed;
        top: 1vw;
        left: 43vw;
    }
    
    .apresentacao {
        color: black;
        border-style: solid;
        border-width: 0.1vw;
        border-radius: 0.5vw;
        width: 50vw;
        height: 30vw;
        background-color:  #ccffff;
        border-color:  black;
        position: fixed;
        font-size: 2.3vw;
        top: 12vw;
        text-align: center;
        left: 7vw;
    }
    
    .apresentacao {
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .criarRealizarLogin {
        color: black;
        background-image: linear-gradient(to right, #ffb3b3, #fcc2a3, #ecd4a2);
        position: relative;
        left: 4vw;
        width: 20vw;
        height: 4vw;
        border-style: solid;
        border-color:black;
        border-width: .5px;
        border-radius: 30vw;
        background-color:  #ccffff;
        font-size: 1vw;
        top: 15vw;
        font-family:'px sans nouveaux', sans-serif;
    }
    #criarConta{
        margin-top: -10vw;
    }
    .logo{
        position: absolute;
        width: 10vw;
        left: 35vw;
        top: -2vw;
    }
    .descricao{
        margin-top: 2vw;
        margin-left: 2vw;
        margin-right: 2.5vw;
        font-size: 1vw;
        text-align: justify;
    }
    ul{
        padding: 0px;
    }
}