
@import url('https://fonts.cdnfonts.com/css/px-sans-nouveaux');
.titulo {
    text-align: center;
    margin-top: 15px;
    font-size: 50px;
}

.apresentacao {
    color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    width: 910px;
    height: 600px;
    background-color:  #ccffff;
    border-color:  black;
    position: fixed;
    font-size: 40px;
    top: 200px;
    text-align: center;
}

.apresentacao {
    margin-left: 160px;
    margin-right: 0px;
}

body {
    font-family:'px sans nouveaux', sans-serif;
    /*
    background-image:linear-gradient(to right, #b3ffff, #b9f6dc, #ceeabb, #e5daa6, #f8c8a1, #ffc2a9, #ffbcb4, #ffb9c0, #ffbdc9, #ffc2d2, #ffc7db, #ffcce3);
    background-image: linear-gradient(to right, #ffb3b3, #fcc2a3, #ecd4a2, #d5e5b2, #bff3d0, #baf3d0, #b5f3d1, #b0f3d2, #bfe6ad, #d6d58f, #edc17e, #ffaa80);
    */
    background-image: linear-gradient(to right, #ffb3b3, #fcc2a3, #ecd4a2, #d5e5b2, #bff3d0, #a8f3dd, #93f1ee, #86eeff, #6adfff, #6dcdff, #8fb5ff, #bb99ff);
}

.criarRealizarLogin {
    color: black;
    background-image: linear-gradient(to right, #ffb3b3, #fcc2a3, #ecd4a2);
    position: relative;
    left: -70px;
    width: 300px;
    height: 90px;
    border-style: solid;
    border-color:black;
    border-width: 1px;
    border-radius: 30px;
    background-color:  #ccffff;
    margin-left: 1300px;
    font-size: 20px;
    top: 210px;
    font-family:'px sans nouveaux', sans-serif;
}
.logo{
    position: fixed;
   width: 180px;
   left: 670px;
   top: -50px;
}
.descricao{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 100px;
    font-size: 20px;
    text-align: justify;
    
}
