@import url('https://fonts.cdnfonts.com/css/share-tech-mono');

.userName{
    font-family: 'Share Tech Mono', sans-serif; 
    font-size: 30px;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:(90deg, rgba(188,251,255,1) 47%, rgba(24,237,242,1) 100%);
  }
  .message{
    font-family: 'Share Tech Mono', sans-serif; 
    font-size: 30px;
    background-clip:text;
    background: -webkit-linear-gradient(90deg, rgba(188,251,255,1) 47%, rgba(24,237,242,1) 100%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:red;
    background-size: 100px;
  }
