* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
 
}

.formulario_sessao_principal {
  height: 639px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sessao_principal {
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#form {
  width: 360px;
  height: 360px;
  background-color: #36056e;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  gap: 5px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-image: url(/logos/gearing.gif);
}

input[type="email"],
input[type="password"] {
  width: 200px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  font-size: 16px;
  outline: solid 2px;
}

button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: #663399;
}

button:active {
  background-color: #fff;
  color: #000;
}

button:focus {
  outline: none;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #aaa;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}
label {
  color: aliceblue;
}