@import url("https://fonts.cdnfonts.com/css/share-tech-mono");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button {
  width: 20vw;
  height: 3vw;
  border: none;
  border-radius: 20px;
  background: linear-gradient(
    80deg,
    rgba(100, 2, 223, 1) 9%,
    rgba(133, 26, 186, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-family: "Share Tech Mono", sans-serif;
}

.Titulo {
  color: blueviolet;
  text-align: center;
  margin-top: 1vw;
  font-size: 3vw;
  font-family: "Share Tech Mono", sans-serif;
  background: -webkit-linear-gradient(
    80deg,
    rgba(100, 2, 223, 1) 9%,
    rgba(133, 26, 186, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.botao_sessao_principal {
  height: 639px;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.listaUsuarios {
  color: white;
}
@media (max-width: 640px) {
  button {
    width: 20em;
    height: 3em;
  }

  .Titulo {
    font-size: 2.3em;
  }
}