@import url('https://fonts.cdnfonts.com/css/share-tech-mono');
.div{
  position: absolute;
  left: 25% ;
}

.cabecalho {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
    background-image: url("./logos/gearingBackground.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
   h1,h2{
    font-family: 'Share Tech Mono', sans-serif; 
    font-size: 30px;
    color: aqua;
    background: -webkit-linear-gradient(90deg, rgba(188,251,255,1) 47%, rgba(24,237,242,1) 100%);
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
  }
  label{
    font-family: 'Share Tech Mono', sans-serif; 
    background: -webkit-linear-gradient(90deg, rgba(188,251,255,1) 47%, rgba(24,237,242,1) 100%);
    font-weight: bold;
    background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

  }
  
.textBug, .novosInput{
  margin-top: 6px;
  background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:black;
}
#gerarInputs{
  margin-top: 6px;
  background-clip:text;
    -webkit-background-clip:text;
    -webkit-text-fill-color:rgb(255, 255, 255);
}
td{
  border-style: solid;
  width: 9em;
  height: 1.5em;
}
.destinoMateria{
  display: grid;
}

#outrasMaterias, #apagarNovaMateria{
display: inline-flex;
justify-content: center;

}
table{
    color:aliceblue;
}
input{
    margin: 0 10px;
    /* espaço entre os botões */
    font-family: 'Share Tech Mono', sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    width: 180px;
    height: 52px;
    border-radius: 5px;
    background: linear-gradient(80deg, rgba(100, 2, 223, 1) 9%, rgba(133, 26, 186, 1) 54%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    cursor: pointer;
  }