@import url("https://fonts.cdnfonts.com/css/share-tech-mono");

body {
  margin: 0;
}

.superCaixa {
  color: white;
  border-style: solid;
  background-color: transparent;
  border-radius: 4px;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 35em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Share Tech Mono", sans-serif;
}
h1,
h2 {
  font-family: "Share Tech Mono", sans-serif;
  font-size: 30px;
  text-align: center;
  background: -webkit-linear-gradient(
    90deg,
    rgba(188, 251, 255, 1) 47%,
    rgba(24, 237, 242, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#buttonApagaConta{
  position: fixed;
  left: 30%;
  color: white;
}