body {
    background-image: url("/public/backgrounds/gearingBackground.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
  }